/* 共通基本ルール
余白：4倍数
PCコンテンツ幅：1200px
font: Noto Sans JP
font-size: ベース16px 4の倍数
見出しfont-size: SP→20px,PC→32px
SP幅:375px 
PC幅:1366px


/* ヘッダーここから */
header {
    background-color: #EDE0D4;
}
.headerTop {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 15px;
    padding-left: 12px;
}
.mainLogo img {
    width: 62px;
    height: 53px;
}
.shopButton {
    display: flex;
    font-size: 25px;
    color: #7F5539;
    text-align: center;
    margin: 0 5px;
}
.shopButton p {
    font-size: 10px;
    margin: 0 5px;
}
.login p {
    padding-left: 5px;
}
.drawerButton { /*暫定アイコン*/
    width: 25px;
    height: 25px;
    background: url(../images/drawerIconSP.png) no-repeat;
    border: none;
}

.globalNav { /*ドロワー内メニュー 暫定非表示 */
    display: none;
}

header input { /* 検索欄 */
    position: relative;
    left: 34px;
    width: 318px;
    height: 37px;
    padding: 5px;
    border: solid 1px #7F5539;
    margin-bottom: 8px;
}

header form { /* 検索欄の余白 */
    /* position: relative; */
    padding-left: 12px;
}

.searchButton { /* 検索アイコン */
    position: absolute;
    left: 12px;
    width: 34px;
    background: #CCCCCC url(../images/searchIconSP.svg) no-repeat center;
    border: solid 1px #7F5539;
}

/* ヘッダーここまで */
/* ************** */

.hero {
    width: 100%;
    height: 200px;
    background: url(../images/heroSP.svg) no-repeat left/cover;
    margin-bottom: 20px;
}
.breadCrumbs,.loginInfo { /*パンくずメニュー,ログイン情報*/
    display: block;
    height: 36px;
    font-size: 12px;
    color: #7F5539;
    border-bottom: solid 1px #7F5539;
    padding: 12px 0 0 20px;
}

/* メインコンテンツ */
.mainContainer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 335px;
    margin: 0 auto;
}
.newProduct {
    width: 157px;
    height: 157px;
    background: url(../images/newProductSP.svg) no-repeat left/cover;
    padding-top:4px;
    color: #FFFFFF;
}
.new {
    width: 40px;
    height: 40px;
    font-weight: bold;
    background-color: #FF8877;
    border-radius: 50%;
    text-align: center;
    padding: 12px 2px;
}
.newText {
    padding: 80px 4px 4px 0;
    text-align: right;
}
.donutsLife {
    position: relative;
    width: 157px;
    height: 157px;
    background: url(../images/donutsLifeSP.svg) no-repeat left/cover;
}
.donutsLife p {
    position: absolute;
    color: #FFFFFF;
    top: 129px;
    left: 25px;
}
.productBenner { /*商品一覧*/
    position: relative;
    width: 335px;
    height: 83px;
    background: url(../images/productBannerSP.svg) no-repeat left/cover;
    margin: 20px auto;
}
.productBenner p {
    position: absolute;
    color: #7F5539;
    top: 61px;
    left: 264px;
}

/* 店舗紹介 */
.shopImg {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    height: 568px;
    background: url(../images/shopImageSP.svg) no-repeat left/cover;
    color: #FFFFFF;
}
.shopImg h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.shopImg h3 {
    font-size: 20px;
    margin-bottom: 12px;
}
.shopImg p {
    font-size: 16px;
    margin-bottom: 60px;
}


/*ランキング*/
h2 {
    font-size: 20px;
    border-bottom: solid 2px #FFD233;
    width: 140px;
    margin: 0 auto 60px auto;
    padding-bottom : 12px;
    text-align: center;
}
.ranking {
    padding-top: 30px;
}
.rank {
    width: 35px;
    height: 35px;
    margin: 0 auto 20px auto;
    text-align: center;
    color: #FFFFFF;
    padding-top: 8px;
}

.donutsName {
    color: #7F5539;
    text-align: left;
}
.price {
    color: #BF0000;
    text-align: left;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
}
.wrapper > div {
    width: 157px;
     
}
.wrapper img {
    margin-bottom: 20px;
}
.cartInsert { /* カートに入れる*/
    font-size: 12px;
    width: 148px;
    height: 36px;
    background-color: #7F5539;
    color: #FFFFFF;
    border: none;
    margin-bottom: 80px;
}

/* 商品一覧ページここから */
.productMenu {
    padding-top: 32px;
}
.productMenu >h2 {
    width: 80px;
    margin-bottom: 40px;
}
h4 { /* "メインメニュー","バラエティセット" */
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
    color: #7F5539;
}
/* 商品一覧ページここまで */

/* 商品詳細ページここから */
.detailContainer {
    padding-top: 20px;
    width: 336px;
    margin: 0 auto;
}
.detailContainer img {
    width: 335px;
    height: 335px;
}
.bi bi-heart {
    color: #BF0000; 
}
.detailName {
    font-size: 16px;
    font-weight: bold;
    color: #7F5539;
    margin-bottom: 40px;
}
.detailText { /*商品概要*/
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #7F5539;
    margin-bottom: 40px;
}
.detailText::before {
    content:"";
    display: block;
    position: absolute;
    width: 355px;
    height: 1px;
    background-color:#E6CCB2;
    top: -20px;
    left: -10px;
}
.detailText::after {
    content:"";
    display: block;
    position: absolute;
    width: 355px;
    height: 1px;
    background-color:#E6CCB2;
    bottom: -20px;
    left: -10px;
}
.inputArea {
    display: flex;
    height: 36px;
    margin-bottom: 80px;
}
.detail input {
    width: 56px;
    height: 36px;
    border: solid 1px #7F5539;
}
.inputArea >.cartInsert {
    margin: 0 4px 0 10px;
}
.favorite {
    border: solid 1px #7F5539;
    width: 36px;
    height: 36px;
    background: url(../images/favoriteSP.svg) no-repeat center;
}
/* 商品詳細ページここまで */

/* カートページここから */
.cartContainer {
    width: 335px;
    font-size: 16px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}
.total {
    border: solid 2px #FFD233;
    width: 335px;
    height: 168px;
    color: #7F5539;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
.total p {
    margin-bottom: 20px;
}
.buyConfirmation {
    border: none;
    background-color: #BF0000;
    color: #FFFFFF;
    width: 148px;
    height: 36px;
    font-size: 12px;
    font-weight: bold;
}
.cartContainer .donutsName {
    font-weight: bold;
    margin-bottom: 20px;
}
.priceArea .price {
    display: inline-block;
    margin-bottom: 12px;
}


.cartContainer input {
    width: 56px;
    height: 24px;
    margin: 0 4px 20px 16px;
}
.recalculate { /*再計算ボタン*/
    display: block;
    width: 140px;
    height: 28px;
    font-size: 12px;
    background-color:#CCCCCC;
    margin: 0 auto 20px auto;
    border: none;
}
.cartDelete { 
    font-size: 12px;
    margin-bottom: 40px;
}
.continue { /*買い物を続けるボタン*/
    width: 160px;
    height: 36px;
    background-color: #7F5539;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    margin: 40px auto 80px auto;
}
/* カートページここまで */

/* ログインページここから */
.loginContainer {
    padding-top: 32px;
    margin-bottom: 72px;
    width: 295px;
    margin: 0 auto; /* 枠の中央寄せ*/
    text-align: center; /* 中身の中央寄せ*/
}
.loginContainer h2 {
    display: inline-block;
    width: 80px;
}
.loginContainer label {
    font-size: 12px;
    color: #7F5539;
}
.loginText { /* 共通 */
    width: 100%;
    height: 248px;
    border: solid 2px #F7D1CD;
    padding: 20px 0;
    margin-bottom: 20px;
}
.loginText input {
    width: 271px;
    height: 20px;
    border: solid 1px #7F5539;
    margin-bottom: 20px;
}
.loginText p {
    text-align: left;
    margin-bottom: 8px;
}
.subButton { /* 共通 */
    display: block;
    width: 160px;
    height: 48px;
    background-color: #7F5539;
    color: #FFFFFF;
    border: none;
    margin: 25px auto 80px auto;
}
.subNavi a { /* 共通 */
    display: block;
    font-size: 12px;
    color: #7F5539;
    text-align: right;
    text-decoration: none;
    margin-bottom: 12px;
}
.subNavi {
    margin-bottom: 80px;
}
/* ログインページここまで */

/* ログイン完了ページここから */
.completionContainer { /* 共有 */
    padding-top: 32px;
    margin-bottom: 72px;
    width: 295px;
    margin: 0 auto; /* 枠の中央寄せ*/
    text-align: center; /* 中身の中央寄せ*/
}
.completionContainer h2 {
    width: 120px;
}
.completionText {
    width: 100%;
    height: 94px;
    border: solid 2px #F7D1CD;
    padding: 20px 0;
    margin-bottom: 20px;
}
.completionText p {
    font-size: 12px;
    color: #7F5539;
}

/* ログイン完了ページここまで */

/* 会員登録ページここから */
.required { /* 共有 */
    color: #FF0000;
}
.memberContainer {
    width: 295px;
    padding: 32px 0;
    margin: 0 auto; /* 枠の中央寄せ*/
}
.memberContainer h2 {
    width: 85px;
}
.registrationForm input {
    width: 100%;
    margin-bottom: 20px;
    border: solid 1px #7F5539;
}
.registrationForm .subButton {
    margin: 40px auto 80px auto;
}
label {
    color: #7F5539;
}
/* 会員登録ページここまで */

/* 会員登録確認ページここから */
.memberConfirmContainer {
    padding-top: 32px;
    width: 295px;
    margin: 0 auto;
}
.memberConfirmContainer h2 {
    width: 80px;
}
.listTitle { /* 共有 */
    color: #7F5539;
    list-style: none;
}
.inputContents { /* 共有 */
    margin-bottom: 20px;
    list-style: none;
}
.confirmationList {
    padding-left: 0;
}
.confirmationList span {
    border-left: solid 1px #7F5539;
    color: #000000;
    padding-left: 4px;
}

/* 会員登録確認ページここまで */

/* 会員登録完了ページここから */
/* 会員登録完了ページここまで */

/* クレジットカード登録ページここから */
.cardContainer {
    width: 295px;
    padding: 32px 0;
    margin: 0 auto; /* 枠の中央寄せ*/
}
.cardContainer h2 {
    width: 140px;
}
.cardRegistrationForm input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    border: solid 1px #7F5539;
}
.cardRegistrationForm > form > label {
    margin-bottom: 8px;
}
.radioGroup label {
    display: inline-block;
    margin-right: 25px;
}
.radioGroup input[type="radio"] {
    cursor: pointer;
    border: solid 1px #7F5539;
    margin: 0 4px 20px 0;
}
.date { /* 共有 */
    display: inline-block;
    color: #7F5539;
    margin-left: 12px;
}
.cardConfirmContainer >.subButton {
    margin-top: 40px;
}

/* クレジットカード登録ページここまで */

/* クレジットカード登録情報確認ページここから */
.cardConfirmContainer {
    padding-top: 32px;
    width: 295px;
    margin: 0 auto;
}
.cardConfirmContainer h2 {
    width: 120px;
}
.dateText {
    display: inline-block;
    width: 60px;
}

/* クレジットカード登録情報確認ページここまで */

/* 購入確認ページここから */
.orderListContainer {
    padding-top: 32px;
    width: 335px;
    font-size: 12px;
    color: #7F5539;
    margin: 0 auto;
}
.orderListContainer h2 {
    width: 100px;
    margin-bottom: 60px;
}
.orderListContainer ul {
    list-style: none;
    padding-left: 0;
}
.orderListContainer li {
    margin: 12px 0;
}
.orderListContainer >div {
    position: relative;
}

.orderListContainer >div::before {
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #F7D1CD;;
    top: 0px;
    left: 0px;
}
.orderListContainer >div::after {
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #F7D1CD;
    bottom: 20px;
    left: 0px;
}


h5 { /* 共通 */
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
.orderTotal {
    font-weight: bold;
}
.orderItem,.orderTotal,.deliveryAddress,.paymentMethod {
    display: flex;
    justify-content: space-between;
}
.orderDetail, .totalDetail, .userInfomation, .method { /*リスト右側*/
    width: 275px;
    color: #000000;
}
.orderDetail>li, .totalDetail>li, .userInfomation>li,.method>li {
    border-left: solid 2px #F7D1CD;
    padding-left: 12px;
}
.entry, .totalEntry { /*リスト左側*/
    width: 60px;
}
.payment >.subButton {
    font-size: 16px;
    color: #FFFFFF;
    margin: 0 auto 20px auto;
}
.payment {
    padding: 20px 0;
    margin-bottom: 80px;
}

/* 購入確認ページここまで */


/* ************** */
/* フッターここから */
footer {
    position: relative;
    background-color: #EDE0D4;
    color: #7F5539;
    font-size: 12px;
    padding-top: 16px;
}
footer ul {
    padding-left: 12px;
}
footer ul li {
    list-style: none;
    margin: 0 0 24px 0;
}
footer ul li a {
    text-decoration: none;
}
.footerNav ul li{
    border-left: solid 2px #B392AC;
    padding-left: 12px;
    width: 125px;
    margin-right: auto;
}
.snsNav ul {
    display: flex;
    padding: 0;
}
.snsNav ul li {
    margin: 0 10px 92px 10px;
}
.footerSNS img {
    width: 32px;
    height: 32px;
}
.footerLogo img{
    position: absolute;
    width: 72px;
    height: 64px;
    top: 196px;
    left: 291px;
}
.copyRight{
    border-top: solid 1px #7F5539;
    text-align: center;
}


@media screen and (min-width:768px) { 
    body {
        width: 1366px;
        font-size: 24px;
    }

    /* ヘッダーここから */
    .mainLogo img {
        width: 87px;
        height: 78px;
    }

    .shopButton {
        padding-top: 15px;
        font-size: 30px;
        font-weight: bold;
        margin: 0 px;
    }
    .shopButton div {
        margin: 0 20px;
    }
    .shopButton p {
        font-size: 12px;
    }
    .drawerButton { 
        width: 50px;
        height: 50px;
        background: url(../images/drawerIconPC.svg) no-repeat;
    }
    .cart {
        margin-right: 95px;
    }

    .searchArea {
        position: relative;
        background-color: #B392AC;
        width: 100%;
        height: 64px;
        padding: 12px 0;
    }
    header input { /* 検索欄 */
        position: relative;
        left: 951px;
        width: 320px;
        height: 40px;
    }
    .searchButton { /* 検索アイコン */
        width: 40px;
        height: 40px;
        left: 925px;
    }
    /* ヘッダーここまで */
    /* ************** */

    .hero {
        width: 100%;
        height: 593px;
        background: url(../images/heroPC.svg) no-repeat left/cover;
        margin-bottom: 80px;
    }
    .breadCrumbs,.loginInfo { /*パンくずメニュー,ログイン情報*/
        padding: 12px 0 0 103px;
    }

    /* メインコンテンツ */
    .mainContainer {
        font-size: 36px;
        width: 1040px;
    }
    .newProduct {
        width: 480px;
        height: 480px;
        background: url(../images/newProductPC.svg) no-repeat left/cover;
        padding-top: 8px;
    }
    .new {
        width: 140px;
        height: 140px;
        font-weight: normal;
        font-size: 32px;
        border-radius: 50%;
        text-align: center;
        padding: 50px 22px;
    }
    .newText {
        padding: 265px 12px 12px 0;
    }
    .donutsLife {
        width: 480px;
        height: 480px;
        background: url(../images/donutsLifePC.svg) no-repeat left/cover;
    }
    .donutsLife p {
        top: 404px;
        left: 78px;
    }
    .productBenner { /*商品一覧*/
        width: 1040px;
        height: 257px;
        background: url(../images/productBannerPC.svg) no-repeat left/cover;
        margin: 80px auto;
    }
    .productBenner p {
        top: 197px;
        left: 872px;
        font-size: 36px;
    }

    /* 店舗紹介 */
    .shopImg {
        padding-top: 200px;
        text-align: center;
        width: 100%;
        height: 667px;
        background: url(../images/shopImagePC.svg) no-repeat left/cover;
    }
    .shopImg h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .shopImg h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .shopImg p {
        font-size: 20px;
        margin-bottom: 40px;
    }

    /*ランキング*/
    .ranking {
        padding-top: 80px;
        font-size: 24px;
    }
    h2 {
        font-size: 32px;
        width: 224px;
        margin: 0 auto 120px auto;
        padding-bottom : 20px;
        text-align: center;
    }

    .rank {
        width: 60px;
        height: 60px;
        margin: 0 auto 20px auto;
        text-align: center;
        padding-top: 15px;
    }
    .donutsName {
        color: #7F5539;
    }
    .price {
        color: #BF0000;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        text-align: center;
    }
    .wrapper > div {
        width: 320px;
    }
    .wrapper img {
        margin-bottom: 20px;
    }
    .wrapper button { /*カートに入れるボタン*/
        width: 260px;
        margin-bottom: 120px;
    }

    /* 商品一覧ページここから */
    .productMenu {
        padding-top: 32px;
    }
    .productMenu >h2 {
        width: 128px;
        margin-bottom: 160px;
    }
    h4 { /* "メインメニュー","バラエティセット" */
        font-size: 24px;
        margin-bottom: 120px;
    }
    .cartInsert { /* カートに入れる*/
        font-size: 20px;
        width: 260px;
        height: 52px;
        margin-bottom: 120px;
    }
    /* 商品一覧ページここまで */

    /* 商品詳細ページここから */
    .detailContainer {
        display: flex;
        padding-top: 80px;
        width: 1200px;
        height: 772px;
        margin: 0 auto;
    }
    .detailContainer img {
        width: 540px;
        height: 540px;
    }
    .detail {
        margin-left: 44px;
    }
    .detailName {
        font-size: 24px;
        margin-bottom: 60px;
    }
    .detailText { /*商品概要*/
        font-size: 24px;
        width: 440px;
        height: 269px;
        margin-bottom: 80px;
    }
    .detailText::before {
        width: 460px;
        top: -40px;
        left: 0px;
    }
    .detailText::after {
        width: 460px;
        bottom: -20px;
        left: 0px;
    }
    .detail >.price {
        margin-bottom: 40px;
    }
    .inputArea {
        display: flex;
        height: 36px;
        margin-bottom: 80px;
    }
    .detail input {
        width: 80px;
        height: 52px;
    }
    .inputArea >.cartInsert {
        width: 260px;
        height: 52px;
        margin: 0 8px 0 20px;
    }
    .favorite {
        width: 52px;
        height: 52px;
        background: url(../images/favoritePC.svg) no-repeat center;
    }
    /* 商品詳細ページここまで */

    /* カートページここから */
    .cartContainer {
        width: 1040px;
        font-size: 24px;
        padding-top: 80px;
    }
    .total {
        width: 1040px;
        height: 240px;
        padding: 40px 0;
        margin-bottom: 80px;
    }
    .buyConfirmation {
        width: 260px;
        height: 52px;
        font-size: 20px;
    }
    .insertProduct {
        display: flex;
        margin-bottom: 80px;
    }
    .cartDetail {
        width: 665px;
        margin-left: 40px;
    }
    .priceArea {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .priceArea::before { /*疑似要素横棒*/
        content:"";
        display: block;
        position: absolute;
        width: 665px;
        height: 1px;
        background-color:#E6CCB2;
        top: -20px;
        left: 0px;
    }
    .priceArea::after { /*疑似要素横棒*/
        content:"";
        display: block;
        position: absolute;
        width: 665px;
        height: 1px;
        background-color:#E6CCB2;
        bottom: 25px;
        left: 0px;
    }
    .cartContainer input {
        width: 80px;
        height: 52px;
        margin: 0 8px 24px 12px;
    }

    .recalculate { /*再計算ボタン*/
        width: 160px;
        height: 36px;
        font-size: 20px;
        margin: 0 auto 100px auto;
    }
    .cartDelete { 
        font-size: 20px;
        margin-bottom: 40px;
        text-align: end;
    }
    .continue { /*買い物を続けるボタン*/
        width: 260px;
        height: 52px;
        font-size: 20px;
        margin: 80px auto 120px auto;
    }
    /* カートページここまで */





    /* ************** */
    /* フッターここから */
    footer {
        font-size: 16px;
        padding-top: 20px;
        height: 448px;
    }
    .footerNav ul {
        display: flex;
        justify-content: flex-start;
        display: inline-block;
        padding-left: 100px;
    }
    .footerNav ul li {
        display: inline-block;
        width: 170px;
        height: 40px;
        padding-top: 10px;
    }
    .snsNav ul {
        margin: 262px auto 0 auto;
        width: 182px;
    }
    .snsNav ul li {
        margin: auto;
    }
    .footerSNS img {
        width: 32px;
        height: 32px;
    }
    .footerLogo img {
        position: absolute;
        width: 144px;
        height: 128px;
        top: 124px;
        left: 611px;
    }
    .copyRight{
        border-top: solid 1px #7F5539;
        text-align: center;
    }

}