/* 共通基本ルール
余白：4倍数
PCコンテンツ幅：1200px
font: Noto Sans JP
font-size: ベース16px 4の倍数
見出しfont-size: SP→20px,PC→32px
ＳＰ幅:375px 
PC幅:1366px

※カラーコード
FFD233　黄色
7F5539　茶色
EDE0D4　かなり薄いグレー
D9D9D9　薄いグレー
黒（000000）の透明度50％
E8C2CA　パステル系の紫
FF8877 ピンク
B392AC　紫
D27C2C　黄土色
CCCCCC　青みのあるグレー
BF0000　赤
E6CCB2　薄い茶色
F7D1CD　パステル系のピンク
 */